/* CSS Document */
/* kr chapter 20 */
@import "kr_13.css";
ol {
    list-style-position: inside;
}
ol.numberedDiagram .imgWestQuarter{margin-left:5%;}
ol.numberedDiagram.imgWestQuarter li {list-style-type:decimal; font-family:sans-serif;clear:both;}
ol.numberedDiagram.imgWestQuarter li p {text-align: left;margin-left: 30%; }
ol.numberedDiagram .imgWestQuarter img {width:30%;} 
/* classes */
div.west_left .quarter, .wide div.west_left .quarter /*.west_left.quarter*/, div.west_left.quarter {
    line-height: 1.20em !important;
    margin: 0em 1em 0em 0em !important;
    float: left;
    display:inline-block;
	clear:both;}

